<% if user_signed_in? %>
	<p id="intro">
		Hello
		<%= current_user.name %>
		<br />
		<span>Share your inspiration and see what's inspiring others.</span>
	</p>
<% else %>
	<p id="intro">
		What's your muse? <br />
		<span>Share your inspiration and see what's inspiring others.</span>
	</p>
	<br />
<% end %>

<div id="posts">
	<% @posts.each do |post| %>
		<div class="post">
			<div class="post_image">
				<%= link_to (image_tag post.image.url(:small)) %>
			</div>
			<div class="post_content">
				<div class="title">
					<h2><%= link_to post.title, post %></h2>
				</div>
				<div class="data clearfix">
					<p class="username">
						Shared by
						<%= post.user.name %>
					</p>
					<p class="buttons">
						<span>
							<i>
								<div class="fa fa-comments-o">
									<%= post.comments.count %>
								</div>
							</i>
						</span>
						<span>
							<i>
								<div class="fa fa-comments-o-up">
									<%= post.get_likes.size %>
								</div>
							</i>
						</span>
					</p>
				</div>
			</div>
		</div>
	<% end %>
</div>

<%= link_to "Add New Inspiration", new_post_path %>